<div class="pt-3 pb-3">
  <h1 class="text-center">Groups</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col pt-3 pb-3 mx-2">
        <%=link_to 'Create new group', new_group_path, :class => "btn btn-primary " %>
    </div>
    <div class="col-6" ></div>
    <div class="col pt-3 pb-3 mx-8 ">
      <%= link_to 'Import groups',  import_page_groups_path, :class => "btn btn-primary " %>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
     <div class="col-xs-12" >
        <table class="table table-bordered  ">
          <thead >
           <tr >
             <th scope="col">Group</th>
             <th scope="col">Full Name</th>
             <th scope="col">Role</th>
             <th scope="col">Edit</th>
             <th scope="col">Delete</th>
           </tr>
         </thead>
         <tbody>
           <% @groups.each do |group| %>
           <tr>
             <td><%= link_to group.name, group_path(group.id) %></td>
             <% organizer = group.roles.Organizer %>
             <% if organizer %>
              <% organizer.each do |role| %>
                <td><%= role.user.full_name%> </td>
                <td><%= role.role %></td>
              <% end %>
             <% end %>

             <td><%= link_to 'Edit', edit_group_path(group) %></td>
             <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <div class="d-flex align-items-end flex-column mt-auto p-2">
          <div class="digg_pagination pt-1 pb-1 mx-3 ">
            <div class="page_info pt-2 pb-2 ">
              <%= page_entries_info @groups %>
            </div>
            <%= will_paginate @pgroups, :container => false %>
          </div>
        </div>

    </div>
  </div>
</div>



</div>
